{% extends 'base.html'%}

{% block title %}
Home
{% endblock title %}


{%block content%}

<h1>Ciaone Homepage</h1>
<h2>Numero visite: {{numVisits}} </h2>

<ol>
    <li><a href="{% url 'menu'%}">menu</a></li>
    <li><a href="{% url 'chi_siamo'%}">chi siamo</a></li>
    <li><a href="{% url 'variabili'%}">variabili</a></li>
    <li><a href="{% url 'app2:if'%}">if</a></li>
    <li><a href="{% url 'app2:else'%}">else</a></li>
    <li><a href="{% url 'app2:elif'%}">elif</a></li>
    <li><a href="{% url 'app2:for'%}">for</a></li>
</ol>
{%endblock content%}